{include file="$template_header" /}

<div class="container-xxl  max-width-box mt-10 mb-20 pt-30">
    {if $http_referer_status eq 0}
    <div class="alert alert-danger mt-10 text-center">
        <strong>Warning! </strong> It looks like you came here from different page. Verify link above before continuing.
      </div>
    {/if}
    <ul class="list-group">
        <li class="list-group-item text-center bg-light">You are going to leave Note.gd</li>
        <li class="list-group-item">

                <div class="text-center">You have clicked a link that will redirect you outside Note.gd</div>
                <div class="text-center mt-10 mb-20 text-danger">{$decode_url}</div>
                <form action="/redirect_post" method="post" style="font-size: 16px !important;">
                    <div class="form-check " style="width:236px;margin: 10px auto;">
                        <input class="form-check-input" type="checkbox" value="0" name="skip_checkbox" id="skip_checkbox">
                        <input type="text" name="hash_str" value="" id="hash_str" style="display: none;">
                        <input type="text" name="url" value="{$encode_url}" style="display: none;">
                        <label class="form-check-label" for="flexCheckDefault">Skip this message next time</label>
                    </div>
                    <div class="mt-30"  style="width:236px;margin: 30px auto;">
                        <a href="{$back_to_article_url}"><button type="button" class="btn btn-light border">Back to article</button></a>
                        <button type="submit" class="btn btn-danger border">Continue</button>
                    </div>
                </form>

        </li>
      </ul>
</div>


<script type="text/javascript" src="/static/js/5e20e1e5ddc34269647ce58a762859e5.js"></script>
<script language="javascript">
    timestamp("{$index_timestamp}");
</script>

<script>
    $(document).ready(function(){
      $("#skip_checkbox").click(function(){
        if($("#skip_checkbox").is(":checked")){
            $("#skip_checkbox").val("1");
        }else{
            $("#skip_checkbox").val("0");
        }
      });
    });
    </script>

{include file="$template_footer" /}