{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">来源管理 > 编辑来源 <span class="page-pretitle">(itemid:{$data[0]['itemid']})</span></span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <form method="post" action="/{$admin_path}/referer/editpost">
                <input type="hidden" name="itemid" value="{$data[0]['itemid']}"/>

                <div class="mb-3">
                    <label class="form-label page-pretitle">short_str</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200"  disabled  name="short_str"  value="{$data[0]['short_str']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">http_referer</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" disabled  name="http_referer" value="{$data[0]['http_referer']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">user_agent</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="user_agent" value="{$data[0]['user_agent']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">user_language</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="user_language" value="{$data[0]['user_language']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">remote_ip</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="remote_ip" value="{$data[0]['remote_ip']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">country</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="country" value="{$data[0]['country']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">timestamp</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="timestamp" value="{$data[0]['timestamp']}"  placeholder="">
                    </div>
                </div>


                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}