{include file="$template_header" /}

<div class="container-md max-width-box mt-50" >
    <form name="form" action="/edit_post" method="post"  onSubmit="return beforeSubmit(this);">
        
    <div class="row  position-relative">
        {include file="/template_1/header_menu"/}
        <div class="col-md-12">
            <div class="mb-3">
                <div id="title_notice" class="form-text text-danger" style="display: none;"></div> 
                <input type="text" class="editor_title" name="title" value="{$data[0]['title']|raw}" placeholder="Title">            
            </div>

            <div class="mb-3 input-group-sm">
                <div id="author_notice" class="form-text text-danger" style="display: none;"></div>   
                <input type="text" class="editor_author" name="author" value="{$data[0]['author']|raw}" placeholder="Your name">            
            </div>


            <div class="mb-3">
                <div id="editor_notice" class="form-text text-danger" style="display: none;"></div>  
                <div class="editor_content" id="editor" name="content" data-gramm="false"  placeholder="Your story...">{$content|raw}</div>

            </div>
            <input type="text" name="hash_str" value="" id="hash_str" style="display: none;">
            <input type="text" class="form-control" name="short_str" value="{$data[0]['short_str']}" style="display: none;" >
            <input type="text" class="form-control" name="edit_password" value="{$data[0]['edit_password']}" style="display: none;" >
            <input type="text" name="itemid" value="{$data[0]['itemid']}" style="display: none;">

        </div>
		
        <div class="col-md-12  max-width-720">
            <button type="submit" class="btn bg-light text-dark border mb-3 text-center  submit_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                    <circle cx="12" cy="14" r="2"></circle>
                    <polyline points="14 4 14 8 8 8 8 4"></polyline>
                </svg>
            </button>
            <span class="edit_mode"><p>EDIT MODE</p></span>
        </div>
    </div>
    </form>
</div>





<script type="text/javascript" src="/static/js/5e20e1e5ddc34269647ce58a762859e5.js"></script>
<script language="javascript">
    timestamp("{$index_timestamp}");
</script>


{include file="$template_footer" /}