{include file="$template_header" /}

<div class="container-md  max-width-box mt-50">

    <div class="row position-relative">
        {include file="/template_1/header_menu"/}
        
        <div class="col-md-12">
            <div class="mb-3">
                <div class="editor_title"><h1>{$data[0]['title']|raw}</h1></div>            
            </div>

            <div class="mb-3 input-group-sm">
                <div class="editor_author"><p>{$data[0]['author']|raw} <time datetime='{$data[0]["addtime"]|date="Y-m-d H:i:s"}'>{$data[0]["addtime"]|date="F d, Y"}</time></p></div>           
            </div>

            <div class="mb-3">
                <div class="editor_content">

                    <div class="content mb-40" id="passwordBox">
                        <div class="text-center text-danger mt-100 mb-30 fs-3"><strong>Please enter password to unlock this note.</strong></div>
                        <button data-method="password" class="btn btn-danger align-middle m-auto d-block mt-10">UNLOCK</button>
                
                    </div>
                    
                </div>
            </div>
            

        </div>

        {if $edit_button_show_status eq 1}
        <div  class="col-md-12">
            <a href="{$edit_url}"  class="btn bg-light text-dark border mb-3 text-center  submit_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                 </svg>
            </a>

        </div>
        {/if}
    </div>

    {load href="/static/layer/layer.js" /}
    <script>
        $(document).ready(function(){
          $("#more").click(function(){
            $("#moreGroup").toggle(100);
          });
        });
    </script>
    
    <script>
        var clipboard = new Clipboard('.linkurl');
        clipboard.on('success', function(e) {
            layer.msg("Link URL copied successfully",{
              time: 1000, 
            }
            );
        });
        var clipboard = new Clipboard('.tinyurl');
        clipboard.on('success', function(e) {
            layer.msg("Tiny URL copied successfully",{
              time: 1000, 
            }
            );
        });
    
        clipboard.on('error', function(e) {
            layer.open({
                title: 'Tips',
                content: 'Your browser may not support it. Please copy it manually.'
            });
        });
    </script>
    
    
    <script>
      var active = {
        password: function(){
          layer.open({
            type: 1
            ,title: 'Password'
            ,closeBtn: 1
            ,area: '320px;'
            ,shade: 0.8
            ,id: 'password'
            ,btn: []
            ,btnAlign: 'c'
            ,moveType: 1 
            ,content: '<form action="{$link_url}" method="post"><div class="input-group pl-10 pr-10 pt-50 pb-50"><input type="password" class="form-control" value="" name="visit_password"  placeholder="Please enter password"><button class="input-group-text bg-light text-dark" type="submit">UNLOCK</button></div></form>'        
          });
        }
      };
      
      $('#passwordBox .btn-danger').on('click', function(){
        var othis = $(this), method = othis.data('method');
        active[method] ? active[method].call(this, othis) : '';
      });
    
    
    </script>
{include file="$template_footer" /}




