/* 20221103 */
/* author: Note.gd */
em{font-family: "ProximaNovaA-Bold",sans-serif;font-weight: 700;}
/*editor*/

/*editor*/
.editor_title {width:100%;border:none !important;font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 34px;
    outline: none;
    background: none;
}
.editor:focus{
    width:100%;
    outline: none;
    background: none;
}
.editor_title h1{
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 34px;
    outline: none;
    background: none;
}
.editor_author {width:100%;border:none !important;font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #79828B;
    font-style: normal;
    outline: none;
    background: none;
}

.editor:focus{
    border:none !important;
    outline: none;
}

.editor_author p{
    font-size: 12px;
    line-height: 18px;
    color: #79828B;
    font-style: normal;
    outline: none;
    background: none;

}
.editor_author time:before{content:'\2022';padding:0 7px}
.editor_content{
    width:100%;
    max-width:100% !important;
    min-height:400px;border:none !important;
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #000;
    outline: none;
    background: none;
    margin-bottom: 80px;
    
}
.editor p{margin-bottom: 0px !important;}
.editor_content:focus{
    border:none !important;
    background: none;
    outline: none;
}

.editor_content p{word-break:normal;word-wrap:break-word;}
.editor_content img{width:auto;max-width: 100% !important;height:auto;object-fit: fill;}
.editor_content a:link{color:#0d6efd !important;}
.editor_content a:hover{text-decoration: underline;}
.editor_content .language-markup{font-size: 15px !important;}
.editor_content code{font-size: 15px !important;}
blockquote{
    display:block;
    padding: 2px 5px 2px 10px;
    margin: 0 0 20px;
    position: relative;
    color: #666;
    text-align: justify;
    border-left: 4px solid #5a5a5a;
    font-style: italic;
}


@media screen and (min-width: 720px) {
    .submit_button{
        position: absolute;
        left: 100%;
        top: 0px;
        max-width: 100px;
    }
}
@media screen and (max-width: 700px) {
    .submit_button{
        position: absolute;
        right: 1%;
        top: -40px;
        max-width: 100px;
    }
}


.language-text-pre{white-space: pre!important;font-size: 15px !important;}
.language-text-pre-wrap{white-space: pre-wrap!important;font-size: 15px !important;}



