


<script language="javascript">
  $(document).ready(function(){
      $("#menu").click(function(){
          $(".menu_box").toggle(200);
      });

      var local_timestamp = parseInt(new Date().getTime()/1000);
      //console.log(local_timestamp);
      $("timestamp").val(local_timestamp);
    
  });
</script>




{load href="/static/tinymce/tinymce.min.js" /}
<script>
    tinymce.init({
        selector: '#editor',
        toolbar: false,
        menubar: false,
        inline: true,
        plugins: 'quickbars link table media image codesample lists code ',
        quickbars_selection_toolbar: 'bold underline  strikethrough italic forecolor backcolor blockquote removeformat | link | alignleft aligncenter alignright fontsize',
        quickbars_insert_toolbar: 'image media numlist bullist hr table codesample code',
        contextmenu:"",
        autosave_ask_before_unload: false,
        images_upload_url: '/upload',
        images_upload_base_path: '/',
        content_style: "img {max-width:100%;}",
        statusbar: false,
        media_live_embeds: true,
        codesample_languages: [
            {text: 'DEFAULT CODE', value: 'markup'},
            {text: 'TEXT WORD PRE ', value: 'text-pre'},
            {text: 'TEXT WORD PRE WRAP', value: 'text-pre-wrap'},
        ],
        relative_urls : false,
        remove_script_host : true,
        document_base_url : '/'
    });
</script>
{load href="/static/js/prism.js" /}
{load href="/static/css/prism.css" /}

<script type="text/javascript">
    function beforeSubmit(form){

        if(form.title.value.length < 1){
            form.title.focus();
            $("#title_notice").toggle(100);
            $("#title_notice").text("Title is too short");
            $("#title_notice").toggle(100);
            return false;
        }
        if(form.author.value.length < 1){
            $("#author_notice").toggle(100);
            $("#author_notice").text("Author name is too short");
            $("#author_notice").toggle(100);
            form.author.focus();
            return false;
        }
        //console.log($("#editor").text());
        form.editor.value = $("#editor").text();
        if(form.editor.value.length < 1){
            $("#editor_notice").toggle(100);
            $("#editor_notice").text("Note is too short");
            $("#editor_notice").toggle(100);
            form.editor.focus();
            return false;
        }
        
        return true;
    }
</script>
</body>
</html>