{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">文本管理 > 编辑文本 <span class="page-pretitle">(itemid:{$data[0]['itemid']})&nbsp;&nbsp;(<a href="/{$data[0]['short_str']}" target="_blank">点击预览</a>)</span></span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <form method="post" action="/{$admin_path}/article/editpost">
                <input type="hidden" name="itemid" value="{$data[0]['itemid']}"/>

                <div class="mb-3">
                    <label class="form-label page-pretitle">short_str (short_str 此项不要修改,否则会导致无法寻址)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200"  disabled  name="short_str"  value="{$data[0]['short_str']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">user_name (方便后台编辑指定用户名的信息)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200"   name="user_name"  value="{$data[0]['user_name']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">edit_password (文本编辑密码，用户编辑文本使用)&nbsp;&nbsp;(<a href="/{$admin_path}/article/customize_cookies_post?itemid={$data[0]['itemid']}">授权本机前台编辑</a>)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="edit_password" disabled value="{$data[0]['edit_password']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">visit_password (文本访问密码)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="visit_password" value="{$data[0]['visit_password']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">addtime (文本添加时间戳)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="addtime" value="{$data[0]['addtime']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">expiration (文本超时时间,默认为N，N值为永远不超时)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="expiration" value="{$data[0]['expiration']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">last_visit (文本最后访问时间)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="last_visit" value="{$data[0]['last_visit']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">update_time (文本最后更新时间)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="update_time" value="{$data[0]['update_time']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">hits (点击量)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="hits" value="{$data[0]['hits']}"  placeholder="">
                    </div>
                </div>



                <div class="mb-3">
                    <label class="form-label page-pretitle">is_pc (是否是pc端，1为pc端，0为移动端)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="is_pc" value="{$data[0]['is_pc']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">remote_ip (客户端IP)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="remote_ip" value="{$data[0]['remote_ip']}"  placeholder="">
                    </div>
                </div>
                

                <div class="mb-3">
                    <label class="form-label page-pretitle">country (客户端IP)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="country" value="{$data[0]['country']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">user_agent (客户端UA)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="user_agent" value="{$data[0]['user_agent']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">user_language(客户端语言)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="user_language" value="{$data[0]['user_language']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">redis_index (short_str是否缓存到redis,1为已缓存，0为未缓存，程序自动处理)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" name="redis_index" value="{$data[0]['redis_index']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">title (标题)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="title" value="{$data[0]['title']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">author (作者)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="author" value="{$data[0]['author']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">description (描述)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="description" value="{$data[0]['description']}"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">tags (tags)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="tags" value="{$data[0]['tags']}"  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label">content (内容)</label>
                    <div class="form-control" id="editor" name="editor" style="min-height: 500px;">{$content_data[0]['content']|raw}</div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">display_ad (是否显示广告,0为不显示,1为显示,默认为1)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="display_ad" value="{$data[0]['display_ad']}"  placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">is_malicious (是否为恶意信息，1为是，0为非，数据库默认值为0。恶意note设置为1即可，无需设置is_404)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="is_malicious" value="{$data[0]['is_malicious']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">is_404 (0为正常显示，1为直接404，默认值为0。此项用于Adsense或者相关的蜘蛛需要404时)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="is_404" value="{$data[0]['is_404']}"  placeholder="">
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}