{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">文本列表 <span class="page-pretitle">（已存在于数据库中的数据不要轻易删除） (投诉:{$report_malicious_num}，留言:{$contact_num}，最后数据: {$last_data[0]["itemid"]} - {$last_data[0]["addtime"]|date="Y-m-d H:i"})</span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>short_str</th>
            <th>hits</th>
            <th>title</th>
            <th>remote_ip</th>
            <th>country</th>
            <th>addtime</th>
            <th>last_visit</th>
            <th>language</th>
            <th>is_pc</th>
            <th>redis</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/article/edit?itemid={$vo.itemid}">[=]</a></td>
              <td style="max-width: 100px;overflow: hidden;"><a href="/{$admin_path}/referer/querypost?short_str={$vo.short_str}">{$vo.short_str}</a></td>
              <td>{$vo.hits}</td>
              <td style="max-width: 200px;overflow: hidden;"><a href="{$admin_url}{$vo.short_str}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                  <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
               </svg>
              </a>{$vo.title|raw}</td>
              <td style="max-width: 100px;overflow: hidden;">{$vo.remote_ip}</td>
              <td style="max-width: 100px;overflow: hidden;">{$vo.country}</td>
              <td>{$vo.addtime|date='Y-m-d H:i'}</td>
              <td>{if $vo.last_visit eq 0}None{else}{$vo.last_visit|date='Y-m-d H:i'}{/if}</td>
              <td style="max-width: 60px;overflow: hidden;">{$vo.user_language}</td>
              <td>{$vo.is_pc}</td>
              <td>{$vo.redis_index}</td>
              <td><a href="/{$admin_path}/article/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}