{include file="$template_header" /}
<div class="container-xl  max-width-box mt-50">
<div class="col-md-12">
    <div class="row  position-relative">
        {include file="/template_1/header_menu"/}
    </div>


<h1>Contact our Team</h1>
<form name="formContact" method="post" action="/contact">

    
    <div class="mb-3">
        <label  class="form-label"><strong>Name</strong></label>
        <input type="text" class="form-control" name="name" value="" placeholder="">
    </div>
    <div class="mb-3">
        <label  class="form-label"><strong>E-Mail</strong></label>
        <input type="text" class="form-control" name="email" value="" placeholder="">
    </div>
    <div class="mb-3">
        <label  class="form-label"><strong>Message </strong></label>
        <textarea class="form-control" name="message" rows="3" placeholder="Comment"></textarea>
    </div>
    <input name="cptc_number_1" type="hidden" value="{$cptc_number_1}">
    <input name="cptc_number_2" type="hidden" value="{$cptc_number_2}">

    <label class="form-label"><strong>Verification</strong></label>
    <div class="input-group mb-3">
        <span class="input-group-text" >{$cptc_number_1} + {$cptc_number_2} = </span>
        <input type="text" class="form-control" name="cptc" value="" id="basic-url" aria-describedby="basic-addon3">
    </div>

    <button type="submit" class="btn btn-success mb-3">Sumbit</button>
</form>



</div>
</div>
{include file="$template_footer" /}