{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">域名管理 > 添加域名</span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <form method="post" action="/{$admin_path}/domain/addpost">
                <div class="mb-3">
                    <label class="form-label page-pretitle">http_prefix (https:// 此类站点必须强制全部https化)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="http_prefix"  value="https://" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">domain_url (如: google.com 不要https前缀 ,不要以/结尾, 最好不带www)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="domain_url" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">site_name (用于全站调用)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="site_name" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">index_title (首页标题)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="index_title" value=""  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">index_keyword (首页关键词)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="index_keyword" value=""  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">index_description (首页描述)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="index_description" value=""  placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">display_ad (是否显示页面广告 1为显示,0为不显示,数据库默认值为1)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="display_ad" value="1"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">sitemap (是否生成sitemap,1为生成,0为不生成(点击后台的网站地图进行生成,txt文件在public目录下))</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="sitemap" value="0"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">template_num (当前域名调用的模板编号，默认从1开始，数据库默认值为1，按实际需求填)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="template_num" value="1"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">note (域名特殊情况备注，正常留空。)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="note" value=""  placeholder="">
                    </div>
                </div>

    

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}