{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">留言管理 > 编辑留言</span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/contact/editpost">
                <input type="hidden" name="itemid" value="{$data[0]['itemid']}"/>
                <div class="mb-3">
                    <label class="form-label page-pretitle">name</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="name"  value="{$data[0]['name']}" placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">email</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="email"  value="{$data[0]['email']}" placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">remote_ip</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="remote_ip"  value="{$data[0]['remote_ip']}" placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">country</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="country"  value="{$data[0]['country']}" placeholder="">
                    </div>
                </div>


                <div class="form-group mb-3">
                    <label class="form-label  page-pretitle">message <code class="text-gray"></code></label>
                    <textarea class="form-control" name="message" rows="8" placeholder="">{$data[0]['message']}</textarea>
                  </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">timestamp</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="timestamp"  value="{$data[0]['timestamp']}" placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">status</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="status"  value="{$data[0]['status']}" placeholder="">
                    </div>
                </div>
                

               

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}
